<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>Angular JS dynamic data binding to grid and selected item display</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/ng-grid.css" rel="stylesheet" />
    <style>
        .gridStyle {
            border: 1px solid rgb(212,212,212);
            height: 400px;
            float: left;
        }

        .selectedItems {
            float: left;
        }
    </style>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/ng-grid.js"></script>
    <script src="~/app/js/controllers.js"></script>
</head>
<body ng-controller="MyCtrl">
    <div class="row">
        <div class="col-md-10">
            <p>
                <h2>AngularJS Demo - Persons List</h2>
            </p>
            <br />
            <div class="gridStyle" ng-grid="gridOptions"></div>
            <p>
                <div class="alert-info">{{mySelections}}</div>
            </p>
            <div>
                <p>
                    <h4>Quickstart to create AngularJS Single Page Application.</h4>
                    <ul>
                        <li>Create New Project - SPA and check ASP.NET MVC and Web API in Visual Studio.</li>
                        <li>Add AngularJS and ngGrid - you can use nuget to install package</li>
                        <li>Create a class Person in Model</li>
                        <li>Add an Empty controller and name it DemoController </li>
                        <li>Create a list using Person class</li>
                        <li>Server side coding is done.</li>
                        <li>Create a folder app, create a sub folder js under app.  Add a javascript file controller.js</li>
                        <li>
                            Here's the code snippet to add to controller.js file:<br />
                            <img src="~/jscontroller.png" alt="jscontroller" />
                        </li>
                        <li>
                            Add this to index.html:<br />
                            <img src="~/htmlpage.png" alt="htmlpage" />

                        </li>

                        <li>That's it.</li>
                        <li>
                            Complete source code available at <a href="https://github.com/arradhakrishnan/AngularJS.git">GitHub</a>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</body>
</html>
