
<div class="jumbotron">
    <h1>ready4Build</h1>
    <p class="lead">Welcome!</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Website Design and Development</h2>
        <p>We develop stunning and professional and responsive web applications using latest Microsoft Technologies.</p>
        @*<p><a class="btn btn-default" href="http://ready4Build.com">Learn more &raquo;</a></p>*@
    </div>

    <div class="col-md-4">
        <h2>Solution Provider</h2>
        <p>We will review your existing applications to enhance and fix issues too. We provide state-of-the-art solutions upgrading to next level.</p>
        @*<p><a class="btn btn-default" href="http://ready4Build.com">Learn more &raquo;</a></p>*@
    </div>

    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>We also host your applications/sites with more features and competitive prices.</p>
        @*<p><a class="btn btn-default" href="http://ready4Build.com">Learn more &raquo;</a></p>*@
    </div>
</div>
